import(Rcpp)
import(meteor)
importFrom("methods", "new")
exportMethods("dynamicPredictors<-", "staticPredictors<-", "parameters<-", "options<-", "run")
export(ecocrop, ecocropPars, removeParameters, removePredictor)
useDynLib(ecocrop, .registration = TRUE)
