import(Rcpp)
import(meteor)
import(terra)
importFrom("methods", "new")
exportMethods("dynamicPredictors<-", "staticPredictors<-", "crop<-", "control", run, predict, plot, show)
export(ecocrop, ecocropPars, removeParameters, removePredictor)
useDynLib(Recocrop, .registration = TRUE)
